
.container__prinpipal{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, palevioletred,pink);

    .title{
    font-family: 'Source Code Pro', monospace;
    position: absolute;
    left: 40%;
    }
    .link{
        display: flex;
        text-decoration: none;
        align-items: center;
        color: black;
        padding: 5px;
    }
    
    .link:hover {
        padding: 4px 8px;
        border-radius: 6px;
        color: black;
        background-color: #E2CACA;
    }
    .items{
        display: flex;
        justify-content:space-around;
        position: relative;
        top:15px;
        right: 10px;
        list-style: none;
        padding: 10px;
        
    }
    
    .bars{
        display: flex;
        position: absolute;
        left:10px;
        top:50px;
        font-size: 30px;
    }
    
    .icons-icons{
        font-size: 20px;
    }
    
    .boton_menu{
        justify-content:space-evenly;
        font-size: 20px;
        margin-top: 50px;
    
    }  
    .title{
        font-family: 'Source Code Pro', monospace;
        position: absolute;
        left: 40%;
    }
    .link{
        display: flex;
        text-decoration: none;
        align-items: center;
        color: black;
        padding: 5px;
    }
    
    .link:hover {
        padding: 4px 8px;
        border-radius: 6px;
        color: black;
        background-color: #E2CACA;
    }
    .items{
        display: flex;
        justify-content:space-around;
        position: relative;
        top:15px;
        right: 10px;
        list-style: none;
        padding: 10px;
        
    }
    
    .bars{
        display: flex;
        position: absolute;
        left:10px;
        top:50px;
        font-size: 30px;
    }
    
    .icons-icons{
        font-size: 20px;
    }
    
    .boton_menu{
        justify-content:space-evenly;
        font-size: 20px;
        margin-top: 50px;
    }  
    .link{
        display: flex;
        text-decoration: none;
        align-items: center;
        color: black;
        padding: 5px;
    }
    
    .link:hover {
        padding: 4px 8px;
        border-radius: 6px;
        color: black;
        background-color: #E2CACA;
    }
    .items{
        display: flex;
        justify-content:space-around;
        position: relative;
        top:15px;
        right: 10px;
        list-style: none;
        padding: 10px;
    }
    .bars{
        display: flex;
        position: absolute;
        left:10px;
        top:50px;
        font-size: 30px;
    }
    
    .icons-icons{
        font-size: 20px;
    }
    
    .boton_menu{
        justify-content:space-evenly;
        font-size: 20px;
        margin-top: 50px;
    }  
    .title{
        font-family: 'Source Code Pro', monospace;
        position: absolute;
        left: 40%;
    }
    .link{
        display: flex;
        text-decoration: none;
        align-items: center;
        color: black;
        padding: 5px;
    }
    
    .link:hover {
        padding: 4px 8px;
        border-radius: 6px;
        color: black;
        background-color: #E2CACA;
    }
    .items{
        display: flex;
        justify-content:space-around;
        position: relative;
        top:15px;
        right: 10px;
        list-style: none;
        padding: 10px;
        
    }
    
    .bars{
        display: flex;
        position: absolute;
        left:10px;
        top:50px;
        font-size: 30px;
    }
    
    .icons-icons{
        font-size: 20px;
    }
    
    .boton_menu{
        justify-content:space-evenly;
        font-size: 20px;
        margin-top: 50px;
    
    }  

}