*{
    padding: 0px;
    margin: 0px;
}

html,
body{
width:100%;
overflow-x:hidden;
}

.container__prinpipal{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, palevioletred,pink);
}


.title{
    font-family: 'Source Code Pro', monospace;
    position: absolute;
    left: 5%;
}
.link{
    display: flex;
    text-decoration: none;
    align-items: center;
    color: black;
    padding: 5px;
}

.link:hover {
    padding: 4px 8px;
    border-radius: 6px;
    color: black;
    background-color: #E2CACA;
}

.items{
    display: flex;
    justify-content:space-around;
    position: relative;
    top:15px;
    right: 30px;
    list-style: none;
    padding: 10px;
    font-size: 11px;
    
}

.bars{
    display: flex;
    position: absolute;
    left:10px;
    top:50px;
    font-size: 30px;
}

.icons-icons{
font-size: 30px;
}
.boton_menu{
    display: flex;
    position: absolute;
    font-size: 15px;
    top:55px;
    right: 15px;
}

.carousel-inner{
    display: flex;
    position: relative;
    margin-left: 120px;
    width: 50%;
    height: 50%;
    
}


.subtitulo{
    position: relative;
    text-align: center;
    background-color:rgb(190, 189, 189);
    margin-top: 5px;
    border-radius: 6px;

}

.container-principal{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.container__photos {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.foto{
    width: 100px;
    height: 150px;
    border-radius: 5px;
    filter: drop-shadow(50px 0px 50px grey);
}

.foto:hover {
    width: 300px;
    height: 400px;
;
}

.text2 {
    font-weight: 600;
    color: black;
    text-align:start;
    ;
}

.photo-access {
    display: flex;
    justify-content: space-evenly;
}

.accesorios{
    position: relative;
    text-align: center;
    font-size: 20px;
    background-color: #E2CACA;
    

}
.bikinis{
    position: relative;
    text-align: center;
    font-size: 20px;
    background-color: #E2CACA;
    bottom: 80px;
    padding: 10px;
    
}

.container-general{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0px 25px 40px;
    filter: drop-shadow(50px 0px 50px grey);
    
}
.container-img img{
    width: 50%;
    height: 20%;
    margin-top: 40px;
    border-radius: 6px;
}
.pagination{
    display: flex;
    position: relative;
    left: 90px;
    bottom: 85px;
}


.footer{
    text-align: center;
    background-color: rgb(247, 224, 181);
    padding: 15px;
    font-weight:bold;
}

.data{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, palevioletred,pink);
    padding: 30px;
    font-family:'Josefin Sans', sans-serif;
}
.gigi{
    align-items: center;
    color: white;
    text-align: center;
    background-color: black;
    
}
.text{
    display: flex;
    justify-content: flex-end;
}


@media(min-width:1200px){
    .boton_menu{
        display: flex;
        position: absolute;
        font-size: 25px;
        top:55px;
        right: 25px;
    }
}
@media(min-width:1200px){
    .items{
        display: flex;
        justify-content:space-around;
        position: relative;
        top:15px;
        right:60px;
        list-style: none;
        padding: 10px;
        font-size: 20px;
        
    }
}





@media (min-width:1200px){
    .foto{
        width: 250px;
        height: 350px;
    }
}


@media (min-width:600px){
    .pagination{
    bottom: 450px;
    left: 450px;
    
    }
}

@media (min-width:400px){
    .pagination{
    bottom: 150px;
    left: 150px;
    font-size: 20px;
    }
}
@media (min-width:759px){
    .pagination{
        bottom: 200px;
        left: 220px;
    }
}

@media (min-width:1162px){
    .pagination{
        bottom:250px;
        left: 490px;
        }
}

@media (min-width:1200px){
    .carousel-inner{
        margin-left: 300px;
    }
    
}